/*
hivemind colors

gold: #c9a83a;

darker background: #171C1F;
reminduh: #21655F;
highlight: #009688;
white: #ffffff;
*/

* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: #c9a83a;
}
h1 {
   margin-bottom: 45px;
}
h2 {
   margin-bottom: 30px;
}
h3 {
   margin-bottom: 15px;
}
h4 {
   margin-bottom: 10px;
}
h5 {
   margin-bottom: 8px;
}
h6 {
   margin-bottom: 5px;
}


.hivemind-wrapper {
   max-width: 1200px;
   margin: 0 auto;
}
h1 {
   text-align: center;
}

.button {
   font-weight: bold;
   border: 2px solid black;
   padding: 8px 12px;
   text-align: center;
   display: inline-block;
   margin-bottom: 10px;
   cursor: pointer;
   transition: all .08s ease-out;
}
.button:hover {
   background: black;
   color: white;
}
#helpMe {
   cursor: help;
   display: block;
   position: absolute;
   top: 15px;
   right: 15px;
}
#pauseMe {
   display: block;
   position: absolute;
   top: 15px;
   left: 15px;
}
.help-wrapper {
   background: black;
   color: white;
   display: block;
   position: fixed;
   overflow-y: scroll;
   left: 30px;
   right: 30px;
   max-width: 1200px;
   margin: 0 auto;
   padding: 30px;
   top: -300%;
   transition: top .5s ease-out, opacity 0.8s ease-out;
   opacity: 0;
}
.help-wrapper.active {
   opacity: 1;
   top: 7%;
   max-height: 80%;
}

.statistics-wrapper,
.actions-wrapper {
   width: 50%;
   float: left;
   padding: 0 15px;
}
.statistics,
.actions {
   border: 1px solid #ccc;
   padding: 0 15px 20px 15px;
}

.loading-wrapper {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
   background: black;
   color: white;
   font-size: 60px;
}

.message-wrapper {
   background: black;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   min-height: 50px;
   color: white;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 22px;
}
.message-wrapper #messageTarget {
   position: absolute;
   max-width: 800px;
   top: 10px;
   transition: top 0s ease-out;
}
.message-wrapper #messageTarget.hide {
   top: 100px;
   transition-delay: .15s;
   transition: top .5s ease-out;
}
